My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an Advanced AI Intelligence Agent. You are receiving news from multiple global streams (Tech, AI, Geopolitics, and Security).\n\n### INPUT DATA:\nSource Title: {{ $json.title }}\nContent Snippet: {{ $json.contentSnippet || $json.content }}\nSource URL: {{ $json.link }}\n\n### YOUR MISSION:\n1. **Categorize:** Identify if this is [AI & TECH], [GEOPOLITICS], or [CYBERSECURITY].\n2. **Analyze:** Write a 2-sentence summary. \n   - Sentence 1: What happened? \n   - Sentence 2: Why does this matter for the future?\n3. **Tone:** Professional, sharp, and elite.\n\n### OUTPUT FORMAT (Telegram Markdown):\n[EMOJI] **CATEGORY: {{ $json.title }}**\n\n**Quick Intelligence:** [Your 2-sentence summary here]\n\n🔗 {{ $json.link }}\n\n---\n_Generated by Raj's AI News Agent_",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1504,
        0
      ],
      "id": "7dc5dfb6-8c18-4ab8-8196-f654ba3dadd7",
      "name": "Basic LLM Chain",
      "notes": "\"Please summarize this tech news headline in one simple sentence: {{ $json.title }}\""
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1504,
        256
      ],
      "id": "692902bc-959c-4c6d-98ee-eb0447cfb4f4",
      "name": "Google Gemini Chat Model",
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "4CocIxTxHqvZL0Xe",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5813628371",
        "text": "=AI Summary: {{ $json[\"text\"] }} (this comes from Gemini)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1824,
        0
      ],
      "id": "546f451f-0916-4110-bb62-04df553ed3c0",
      "name": "Send a text message",
      "webhookId": "4e0833ea-f36b-4a30-b30a-ad2ac084ef60",
      "credentials": {
        "telegramApi": {
          "id": "UgBMLwfAO8Cpx48H",
          "name": "Telegram account"
        }
      },
      "notes": "This is the message you receive. Click the Expression tab and select the \"Text\" from the Gemini node."
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 10,
              "unit": "minutes"
            }
          ]
        },
        "feedUrl": "https://www.theverge.com/rss/index.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        1152,
        0
      ],
      "id": "6d550d5f-03b6-4eb0-a20a-409196ebc4fc",
      "name": "RSS Feed Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c3056436-3f46-4e63-ab17-06f4fd7525d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ebf19bd7dc3b05ad4654544a364b1b10aadac8ed33bbb5fc1cd38eb0ca7ea4dc"
  },
  "id": "bYrmpJbfBh7PJz6N",
  "tags": []
}